html {
    height: 100%;
}

body{
    text-align:center;
    color: #666 !important;
    font-family:'Tahoma','Sans Serif';
    font-size: 12px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ header]*/

.hd{
    /*background-color: #DDD;*/
    height: 40px;
    width: 100%;
    position: fixed;
    top:0;
    border-bottom: 1px solid #fff;
    box-shadow: 2px 2px 5px  gray;
    margin: 0;
    z-index: 1000;
    background-color: #021f23;
}

/* ++++++++++++++++++++++++++++++++++ logo*/
.navi{
    margin: 0!important;
    border: none;
    border-radius: 0;
    padding:55px 5px 10px; 
}
.line{
    padding: 10px;
    float: left;
    color: #aaa;
}
.lang-con{
    padding: 7px 30px 7px 7px;
    float: left;
    color: #aaa;
    position: relative;
    background-color: #666;
}
.lang-con-sm{
    padding: 4px 10px  3px;
    float: left;
    color: #aaa;
    position: relative;
    background-color: #666;
}
.lang-con .glyphicon{
    font-size: 12pt;
    padding: 2px 10px;
    position: absolute;
    right: -3px;
    top: 10px;
    /*    font-size: 20px;*/
}
.select-sm{
    font-size: 12px;
    height: 25px;
    line-height: 1;
    padding: 2px 15px;
    border-radius: 2px;
    background-color: #555;
    color: white;
}
.logoContainer{
    width: 90px;
    height: 30px;
    position: absolute;
    top:15px;
    right: 40px;
    background-color: #eee;
    margin: 5px;
    border-radius: 5px;
    padding: 2px 4px;
    box-shadow: 1px 1px 5px #555;
}

.logoContainer img{
    width: 100%;
    height: 100%;
}
.container{
    margin-top: 20px;
    margin-bottom: 50px;
    /*    background-color: #ddd;*/
    padding: 10px;
    /*    width: 100%;*/
}

.centered_form{
    position:absolute;
    top:50%;
    left:50%;
    height:180px;
    width:350px;
    margin-top: -90px;
    margin-left: -175px;
    background-color:ivory;
    border: 3px outset silver;
    color:black;
    border-radius:10px;
}

.login{
    font-family:'Tahoma';
    margin:auto;
    color:black;
    text-aling:center;
}

#logout{
/*    color: white;
    font-family:'Tahoma','Sans Serif';
    font-size:9pt;
    background-color:#476b6b;
    min-width:200px;
    min-height:30px;
    cursor:pointer;
    border-radius:4px;
    border-style:none;
    padding:5px;
    margin:0px 0px 2px 0px;
    position: relative;*/
}

/*.tab{
    color: white;
    font-family:'Tahoma','Sans Serif';
    font-size:9pt;
    background-color:#476b6b;
    min-width:200px;
    min-height:30px;
    cursor:pointer;
    border-radius:4px;
    border-style:none;
    padding:5px;
    margin:0px 0px 2px 0px;
    position: relative;
}*/

.form-control-sm{
    padding: 3px 10px;
    font-size: 12px !important;
    height: 25px;
    /*line-height: 1.22857143;*/
}

#page{
    width:100%;
    height:900px;
    border:0px;
    box-shadow: 1px 1px 10px #ddd;
    padding: 0;
}
#footer{
    margin: 20px auto;
    width: 550px;
    color: #669999;
}

.cat-key-con{
    position: relative;
}
.cat-name{
    position: absolute;
    right: 110%;
    top: 0;
    width: 200px;
    background-color: #ff80ff;
    color: white;
    padding:20px 5px;
    font-size: 10pt;
    border-radius: 5px;
    word-wrap: break-word;
}

.tab .glyphicon {
    font-size: 12pt;
    padding: 2px 10px;
    position: absolute;
    right: 0;
    top: 5px;
}

table th, td{
    padding: 2px 5px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ counter cats]*/
/*#page{
    min-height: 100% !important;
}*/
.cats-item{
    margin: 2px;
}
.cats-c-con{
    width: 90%;
    margin: 0 auto;
}
.cats-c-hd{
    background-color: #aba5f7;
    position: relative;
    padding: 5px;
    color: white;
}
.cats-c-item a{
    display: inline;
}
.cats-content{
    /*display: none;*/
}
.cats-content table tr td{
    padding: 2px;
}
.moreBtn{
    height: 20px;
    width: 20px;
    position: absolute;
    top:2px;
    right: 5px;
    z-index:6;


}

.moreBtn img{
    height: 20px;
    width: 20px;
    border: none;
}
.ftr-logo-con{
    margin: 0 5px;
}
.ftr-logo-con img{
    width: 30px;
    height: 30px;
}

footer .row{
    clear: both;
    margin: 0;
    background-color: #eee;
    color:#668cff;
    padding: 10px 0;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ counter cats]*/
.t-center{
    text-align: center;
}
.t-left{
    text-align: left;
}
select{
    padding-left: 10px;
    padding-right: 10px;
}
select, input[type=text], input[type=checkbox]{
    width: 100%;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 2px !important;
    text-align: center;
}
.table > tbody > tr {
    /*background: none!important;*/
}
.table > tbody > tr > th {
    /*background:#cccc99!important;*/
    background:#00cc99!important;
    color: white;
    padding: 10px 0;
}

/*.table > tbody > tr > td{
    border:0;
}*/

.table{
    width: 50%;
    margin: 0 auto;
    border-collapse:collapse;
    position: relative;
    font-family:'Tahoma','Sans Serif';
    font-size: 12px;
}


.th-no-style  th {
    /*background:#cccc99!important;*/
    background:none !important;
    color: initial;
    padding: initial;
}


.well-header{
    font-size: 20px;
    font-family:'Tahoma','Sans Serif';
    background-color: #80aaff !important;
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn{
    margin: 5px 0;
    font-family:'Tahoma','Sans Serif';
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table-100{
    width: 100%;
}
.table-90{
    width: 90% !important;
}
.table-80{
    width: 80% !important;
}

.s-10{
    width: 10%;
}
.s-20{
    width: 20%;
}
.s-30{
    width: 20%;
}
.s-99{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}
.s-40{
    width: 40%;
}
.s-50{
    width: 50%;
}
.s-60{
    width: 60%;
}
.s-70{
    width: 70%;
}
.s-80{
    width: 80%;
}
.s-90{
    width: 90%;
}
.s-100{
    width: 100%;
}
.light-blue{
    background-color: #cce6ff !important;
}

.sec-hd{
    /*    text-align: right;*/
    font-size: 15px;
    background-color: #ddd;
    /*padding: 10px 0;*/
    font-family:'Tahoma','Sans Serif';
    margin-bottom: 0;
    font-weight: bold;
    box-shadow: 0px -1px 2px #aaa;
}

.btn-fixed{
    position: fixed;
    top: 100px;
    right: 100px;
}

.bdc{
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    margin: 4px;
}
.bdc-del{
    width: 10%;
    display: inline-block;
}
.bdc-counter{
    /*    width: 10%;*/
    display: inline-block;
    padding: 0 20px;
}
.rotate-con{
    position: relative;
}
.rotate-90 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    float: left;
    left: -50px;
    padding: 10px;
    position: absolute;
    top: 130px;
}

.ct-series-a .ct-bar,
.ct-series-a .ct-bar {
    stroke: blue;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
    stroke: green;
}

/*#chart1 .ct-golden-section::before {
    padding-bottom: 62.8047% !important;
}*/
#chart1{
    margin: 10px 0 10px;
    /*    padding-bottom: 40%;*/
}

#chart2{
    margin: 10px 0 -35px;
    /*padding-bottom: 40%;*/
}



.t-no{
    background-color: blue !important; 
    color: #FFF;
}

.t-no-w{
    background-color: #f05b4f !important;  
    color: #FFF;
}

.t-no-t{
    background-color: #f4c63d !important; 
    color: #FFF;
}
.t-no-s{
    background-color: #d17905 !important; 
    color: #FFF;
}



.blue-line{
    stroke: blue !important; 
}
.red-line{
    stroke: red !important; 
}

.red-text{
    color: red !important; 
    font-weight: bold;
}
.red-box{
    color: white !important; 
    font-weight: bold;
    background-color: red !important; 
}

.gray-light-box{
    color: #666 !important; 
    font-weight: bold;
    background-color: lightgray !important; 
}


.round{
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
}

.ct-label {
    font-size: 0.9rem;
    line-height: 0.97;
}

.lang-box{
    background-color: #eee;
    margin: 8px 5px;
    padding: 3px;
    width: 250px;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 2px;
}


/*.btn-fixed {
    position: fixed;
}*/

#error-p, #result-p, #message-p {
    display: none;
    position: relative;
}

.block{
    display: block;
}

/*.hide{
    display: none;
}*/
.btn-inline{
    display: inline-block;
}

.marg-h-10{
    margin-left: 10px;
    margin-right: 10px;
}

.marg-h-20{
    margin-left: 20px;
    margin-right: 20px;
}
.radio-fixed{
    width:150px;
}

.lang-radio{
    padding-left: 10px;
    padding-right: 10px;
}
.pressed{
    box-shadow: 0px 0px 6px 1px #00004d inset;
    color: #333 !important;
    background-color: #ccccff;
}

.status{
    background-color: #ff6600;
    border-radius: 5px;
    margin: 0 auto;
}

.disabled{
    background-color: #ffd1b3;
    color: #888;
}

.sidebar{
    direction: rtl;
}

/* =========================================================================|| colored blocks */
.block-red{
    color: #FFF !important;
    background-color: #ff4d4d !important;
}

.block-blue-light{
    color: #FFF !important;
    background-color: #3399ff !important;
}
.block-gray-light{
    color: #FFF !important;
    background-color: #ccccb3 !important;
}

.no-pad{
    padding: 0;
} 
.no-marg{
    margin: 0;
}

.error-item{
    margin-left: 20px;
    text-align: left;
}

.marg83{
    margin: 8px 3px;
}
.marg10-40{
    margin: 10px 40px;
}

.pad-3{
    padding: 3px 10px !important;
}

.pad-h-10{
    padding-left: 10px;
    padding-right: 10px;
}
.badge-wide{
    padding: 8px 15px;
    min-width: 40px;
}

.inline-block{
    display: inline-block;
}

.pad-5{
    padding: 5px;
}

.marg3{
    margin: 3px;
}

.pad-h-10{
    padding-left: 10px;
    padding-right: 10px;
}

.pad-h-5{
    padding-left: 5px;
    padding-right: 5px;
}

.pad-h-3{
    padding-left: 3px;
    padding-right: 3px;
}

/*====================================================================|| admin common*/


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ body]*/
body{
    /*background-color: #ccddff!important;*/
    text-align:center;

    color: #666 ;
    font-family:'Tahoma','Sans Serif';
    font-size: 12px;
}
.container-full {
    width: 100%;
    /*padding: 5px;*/
}

#page{
    width:100%;
    height:800px;
    border:0px;
    box-shadow: 1px 1px 10px #ddd;
    padding: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ Fonts]*/

.font-small{
    font-size: 11px;
}
.font-md{
    font-size: 15px;
}

.font-lg{
    font-size: 25px;
}

.font-bold{
    font-weight: bold;
}

.segoeUILight {
    font-family: "Segoe UI Light","Segoe UI Semilight","Segoe UI",Helvetica,Tahoma,Geneva,Verdana,sans-serif;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ positions]*/
.relative{
    position: relative;
}
.stick-btm{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.box-block{
    display: block;
}

.center-block{
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
}
.box-inline{
    display: inline-block;
}

.border-btm{
    border-bottom: 1px solid #fff;
}

.border-top{
    border-top: 1px solid #fff;
}
.col-1 {
    width: 9.3%;
    padding: 0 4px;
}

.col-2 {
    width: 19.1%;
    padding: 0 4px;
}

.col-3 {
    width: 31.333333%;
    padding: 0 4px;
}
.clearboth {
    clear: both;
    height: 20px;
}
.fa-box {
    width: 20px;
    text-align: center;
}
.spacer-1 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 4.111111%;
    border: none;
    background: none;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || styles override ||*/

.row-highlited{
/*    border-left: 2px red dotted !important;
    border-right: 2px red dotted !important;*/
    background-color: #ccb3ff !important;
    border: 1px #9966ff solid !important;
}
.empty{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px dashed red;
    color: red;
}

.empty-invert{
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #c6080d !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}
.no-style, .no-style:active, .no-style:focus, .no-style:hover{
    border: none !important;
    background: none !important;
    border-radius: 0;
}

.no-shadow{
    box-shadow: none;
}
.flow-hidden{
    overflow: hidden;
}
.round-10-sh{
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
}
.round-10 {
    border-radius: 10px;
}
.round-50-sh{
    border-radius: 50px;
    padding:8px 10px;
    box-shadow: 0 0 5px 1px gray;
}

.badge-red{
    background-color: #f05b4f;
    color: white;
    font-size: 14px;
    padding: 10px;
    height: inherit;
    border-bottom: 1px solid #fff;
}

.badge-red-sm{
    background-color: #f05b4f;
    color: white;
    font-size: 10px;
    padding: 0px 10px;
    /*height: inherit;*/
    border: 1px solid #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.arc-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.alert-error{
    position: absolute;
    top: 4px;
    z-index: 1000;
    width: 100%;
}
.error-block{
    height: 40px;
    position: relative;
}

.arrow-down {
    width: 0;
    content: '';
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 30px solid #2E8DD0;
    margin: 0 0 15px;
}

.arrow-left {
    width: 0;
    content: '';
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 15px solid #666;
    margin: 0 -15px;
    position: absolute;
    top: 5px;
    left: -1px;
}

.arrow-right {
    width: 0;
    content: '';
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 20px solid #2E8DD0;
    margin: 0 0 -15px;
    position: absolute;
    top: 14px;
    right: -40px;
    /*    box-shadow: 0 0 5px 2px #ddd;*/
}

.card {
    margin: 15px;
    border: 1px solid #eee;
    box-shadow: 0 0 3px 1px #bbb;
    border-radius: 2px;
    position: relative;
}

.card-header {
    padding: 10px;
}

.card-body {
    border-top: 1px solid #eee;
}

.corner-right {
    position: absolute;
    top: 2px;
    right: 2px;
}

.corner-left {
    position: absolute;
    top: 2px;
    left: 2px;
}

.corner-right-out {
    position: absolute;
    top: -5px;
    right: -5px;
}

.corner-left-out {
    position: absolute;
    top: -5px;
    left: -5px;
}

.center-placer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15% 0;
    font-size: 25px;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }

    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }

    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}


@media (max-width: 767px) {
    .spread {
        width: 45%;
        margin: 2px;
    }

    .spread-full {
        width: 90%;
        margin: 2px;
    }

    .spacer-1 {
        display: none !important;
    }
}


.fixed{
    position:fixed;
    top: 0;
    right: 10px;
    z-index:100;
}

@media (max-width: 767px) {
    .col-1, .col-2, .col-3 {
        width: 45%;
        margin: 2px;
    }

    .navbar-nav {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

    .pull-cancel{
        float:none !important;
    }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || Padding ||*/

.no-pad{
    padding: 0 !important;
}

.pad-20-100{
    padding: 20px 100px;
}

.pad-5{
    padding: 5px !important;
}

.pad-5-10{
    padding: 5px 10px !important;
}
.pad-3{
    padding: 3px !important;
}

.pad-3-10{
    padding: 3px 10px;
}

.pad-10{
    padding: 10px;   
}

.pad-20{
    padding: 20px;
}

.pad-h-3 {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.pad-h-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pad-h-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pad-top-10{
    padding-top: 10px !important;
}
.no-pad-v5 {
    padding: 0 5px !important;
}

.no-pad-up {
    padding-top: 0 !important;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || margin ||*/
.marg-400{
    margin: 400px 10px;
}
.marg-500-10-0{
    margin: 500px 10px 0;
}

.no-marg{
    margin: 0;
}
.marg3{
    margin: 3px;
}
.marg83{
    margin: 8px 3px;
}
.marg-10{
    margin: 10px;
}

.marg-v-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.marg-v-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.marg-h-5{
    margin-left: 5px;
    margin-right: 5px;
}
.marg-h-10{
    margin-left: 10px;
    margin-right: 10px;
}

.marg-h-20{
    margin-left: 20px;
    margin-right: 20px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || Buttons ||*/

.btn-blue {
    background-color: #ff1ac6;
}
.btn-blue:hover {
    background-color: #cc0099;
}
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {
    background-color: #ff1ac6;
}

.btn-big{
    padding: 40px 60px!important;
    border-radius: 10px;
    margin: 5px;
}

.btn-img-side{
    position: absolute;
    top:0;
    left: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || Forms ||*/

.form-control-sm{
    padding: 3px 10px;
    font-size: 12px !important;
    line-height: 1.42857143;
    height: 25px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || Sizes ||*/

.w-available{
    width: -moz-available !important;
}

.w-fit{
    width: -moz-fit-content;
}
.table-100{
    width: 100%;
}
.table-90{
    width: 90% !important;
}
.table-80{
    width: 80% !important;
}

.s-10{
    width: 10%;
}
.s-20{
    width: 20%;
}
.s-30{
    width: 20%;
}

.s-40{
    width: 40%;
}
.s-50{
    width: 50%;
}
.s-60{
    width: 60%;
}
.s-70{
    width: 70%;
}
.s-80{
    width: 80%;
}
.s-90{
    width: 90%;
}
.s-100{
    width: 100%;
}

.s-99{
    width: 99%;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || Text colors ||*/
.text-whito{
    color: #fff !important;
}
.text-red{
    color: red !important;
}

.text-dark{
    color: #444 !important;
}
.text-green-dark{
    color:#3d8b40 !important;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || bg-colors ||*/
.bg-white{
    background-color: #fff;
}

.bg-transparent{
    background-color: transparent;
}

.bg-red{
    color: #FFF !important;
    background-color: #ff4d4d !important;
}
.bg-pink{
    background-color: #ff8080 !important;
}
.bg-blue-light{
    color: #FFF !important;
    background-color: #3399ff !important;
}
.bg-gray-light{
    color: #FFF !important;
    background-color: #ccccb3 !important;
}
.bg-light-blue{
    background-color: #cce6ff !important;
}

.bg-green-light-2{
    background-color: #ccffcc !important;
}

.bg-grass-green{
    background-color: #33ff99;
}

.bg-blue-2 {
    background-color: #3880aa;
}

.bg-green-dark {
    background-color: #4da944;
}

.bg-red-warning {
    background-color: #f26522;
}

.bg-red-dark {
    background-color: #c6080d;
}

.bg-violette {
    background-color: #672d8b;
}

.bg-violette-pink {
    background-color: #ce1797;
}

.bg-yellow-heavy {
    background-color: #d9ce00;
}

.bg-brown {
    background-color: #754c24;
}

.bg-blue-sky {
    background-color: #2eb9b4;
}

.bg-blue-deep {
    background-color: #0e2e42;
}

.bg-green-darker {
    background-color: #004d00;
}

.bg-warning-dark {
    background-color: #cc9900;
}

.bg-yellow-sahara {
    background-color: #ffdb4d;
}

.bg-green-light{
    background-color: #ccffdd !important;
}

.bg-red-light{
    background-color:#ffd6cc !important;
}

.bg-gray {
    background-color: #787978 !important;
}

.bg-white-gray {
    background-color: #eee;
}

.bg-lighterBlue {
    background-color: #a3c2c2 !important;
}

.bg-red {
    background-color: #ff3333 !important;
}

.bg-blue {
    background-color: #1a53ff !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-aqua{
    background-color: #b3ffff !important;
}

.sh-red {
    box-shadow: 0 0 3px 1px #ff704d;
}

.sh-blue {
    box-shadow: 0 0 3px 1px #668cff;
}

.sh-white {
    box-shadow: 0 0 3px 1px #eee;
}

.sh-gray{
    box-shadow: 0 0 5px 1px #888;
}

.border-gray{
    border-color: #666;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ || Links ||*/

.hover-red:hover{
    background-color: red;
    color: white;
}

.hover-white:hover{
    background-color: white;
    color: red;
}


.trumbowyg-box{
    color: #666 !important;
}

