@font-face{
    font-family:"idealQ";	
    src:url("../fonts/DroidNaskh-Regular.ttf");
}

body{
    text-align:center;
    color:white;
    background-color:#505050;

    background: rgba(73,155,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(11,49,87,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(11,49,87,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(11,49,87,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(11,49,87,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(11,49,87,1) 100%);
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(11,49,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0b3157', GradientType=1 );

}

.br-widget a{
    font-size: 50px;
}
.sidebar-img{
    position: absolute;
    width: 25%;
    /*bottom: 80px;*/
    /*height: 100%;*/
    left: 0;

}
/*.sidebar-img img{
    height: 100%;
}*/
.sidebar{
    position: absolute;
    width: 15%;
    /*height: 50%;*/
    left: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;

    background-attachment: scroll;
    background-image: url("../files/bd_bg/admin_bg.png");
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 

    box-shadow: 0 0 3px 2px #ddd;
}

#myclock2 canvas{
    /*width: 160px;*/
    direction: ltr;
    /*padding-left: 0px;*/
    display: block;
}

.clock-parent2{
    margin: 10px auto;
    /*padding: 5px;*/
    position: relative;
    top: 0;
    width: 180px;

}

.clock2 {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    /*padding: 4px;*/
    padding-bottom: 75px;
    position:relative;
    border: 3px solid #fff;
    box-shadow: 1px 1px 5px  gray;
    text-align: center;

}
#myclock{
    top:0;
    right: 0;
}


#curDate2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding: 1px;
    background-color: #ddd;
    border-radius: 20px 20px 0 0;
    /*padding: 1px;*/
    z-index: 1000;
    /*    box-shadow: 2px 2px 5px  gray;*/
    /*display: none;*/
}

#curDate2 div{
    border: 4px solid #108696;
    border-top-width: 12px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 3px  gray;
    color: #021f23;
    margin: 1px -5px;
    padding: 2px 4px;
    display: inline-block;
}

.bg-blue-gradiant{

    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(61,107,153,1) 41%, rgba(9,39,71,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(41%, rgba(61,107,153,1)), color-stop(100%, rgba(9,39,71,1)));
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(61,107,153,1) 41%, rgba(9,39,71,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(61,107,153,1) 41%, rgba(9,39,71,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(61,107,153,1) 41%, rgba(9,39,71,1) 100%);
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(61,107,153,1) 41%, rgba(9,39,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#092747', GradientType=1 );

}

table{
    text-align:center;	
    height:700px;
    width:1200px;
    position:fixed;
    margin-left:-600px;
    margin-top:-350px;
    top:50%;
    left:50%;
    font-size:140pt;
    font-family:"idealQ";
    font-weight:bold;
}

.font-huge{
    font-size:140pt;
    /*line-height: initial;*/
    /*font-family:"idealQ";*/
}

.font-huge-md{
    font-size:100pt;
}

.stars-con{
    padding: 100px 10px;
}
#counter_no{
    color:lime;
    text-shadow: 0 0 10px lime;
}

#num{
    color:red;
    text-shadow: 0 0 5px red;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ footer]*/
.ftr{
    background-color: #2e2e1f;
    height: 80px;
    width: 100%;
    position:fixed;
    bottom: 0px;
    /*    left:-1px !important;
        right: -1px !important;*/
    margin: 0;
    box-shadow: 2px 2px 15px  #ddd;
    z-index: 1000;

}

.marquee {
    /*width: 450px;*/
    /*    line-height: 45px;*/
    /*    background-color: red;
        color: white;*/
    margin: 0 auto;

}
.marquee p {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    /*    padding-left: -100%;*/
    /*    padding-left: 100%;
        padding-right: 0;*/
    animation: marquee 30s linear infinite;
}
@keyframes marquee {
    0%   { text-indent: 40em }
    100% { text-indent: -65em }
}

.oldMarquee{
    color:#ddd;
    font-size:30pt;
    /*    font-weight:bold;*/
    vertical-align:middle;
    background-color:inherit;
    border-top:1px solid white;
    position: relative;
}

.imgMar{
    vertical-align:middle;
    /*    width:15px;
        height:15px;*/
    margin: 0 10px;
}

.microsoft {
    padding-left: 1.5em;
    position: relative;
    font: 16px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

/* ::before was :before before ::before was ::before - kthx */
.microsoft:before, .microsoft::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: -1em; left: -1em;
    width: .5em; height: .5em;
    box-shadow: 1.0em 1.25em 0 #F65314,
        1.6em 1.25em 0 #7CBB00,
        1.0em 1.85em 0 #00A1F1,
        1.6em 1.85em 0 #FFBB00;
}

.microsoft:after, .microsoft::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 2em; height: 2em;
    background-image: linear-gradient(90deg, white 70%, rgba(255,255,255,0));
}

.logo-sml{
    position: absolute;
    bottom:0;

    height: 80px;
    /*width: 100%;*/
    z-index: 1001;
    padding: 4px;
    /*box-shadow: 2px 2px 10px white;*/
    background-color: white;
}
.logo-sml img{
    /*width: 100%;*/
    height:100%;
    border: 0;
}