body { 
    background: url("../files/bd_bg/blue.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
/*     background: url("../images/bd_bg/c (1).jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.bdy-login{
    width: 350px;
    margin: 40px auto;
    box-shadow: 0 0 5px 1px #0f0f0f;
    padding:5px 3px;
    border-radius: 10px;
    font-size: 85%;
}
.info-login{
    padding:  5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
/*    background-color: #888;
    opacity: 0.8;*/
    text-align: center;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ Forms ]*/

.form-signin{
    background-color: #0f0f0f;
    padding: 20px;
    color: white;
    /*border: 10px solid #ddd;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px 1px #999;
    opacity: 0.8;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ [ logo big ]*/
.logo-big{
    display: table;
    margin: 1px auto 10px;
}
.logo-big img{
    width: 55%;
    height: 55%;

}




